 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*nav start*/
.navbar .navbar-brand img{
     width: 100%;
}
/*nav end*/

/*banner start*/
.banner{
    padding: 0;
}
.banner_content{
    margin: 0;
    text-align: center;
}
.banner_content h1{
    font-size: 37px ;
}
/*banner end*/

/*feature start start*/
.section_heading{
    padding: 0;
}
.section_heading h1 {
    font-size: 35px;
}
.benefits_content{
    padding: 0;
}
.benefit_box{
 padding: 15px 15px;
}
.benefits_icon{
  margin-top: 15px;
}
.banner_content-button{
    text-align: center;
}
/*feature end*/
/*contact start*/
.contact_image{
    margin: 15px 0 40px 0;
}
/*contact end*/
/*footer*/
.footer-heading h2{
    margin-bottom: 5px !important;
    text-align: center;
}
footer ul {
    text-align: center;
}
.footer-item{
    margin-bottom: 20px;
}
footer p{
    text-align: center;
}
footer .sub-footer{
    padding-top: 10px !important;
}
.btn_wrap{
     margin: 10px 100px;  
}
/*footer*/

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

/*Setup start*/

/*Setup end*/

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
/*header end*/

/*banner start*/
/*banner end*/
/*feature start start*/
.section_heading{
    margin: 20px 0;
    padding: 0;
}
.section_heading h1 {
    font-size: 35px;
}
/*feature end*/
/*footer*/
.footer-heading h2{
    margin-bottom: 5px !important;
    text-align: center;
}
footer ul {
    text-align: center;
}
.footer-item{
    margin-bottom: 20px;
}
footer p{
    text-align: center;
}
footer .sub-footer{
    padding-top: 10px !important;
}
/*footer*/
 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*header start*/
/*header end*/

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
/*header start*/
/*header end*/
/*feature start start*/
.section_heading{
    margin: 20px 0;
    padding: 0;
}
.section_heading h1 {
    font-size: 35px;
}
/*feature end*/

}